{% extends 'base.html' %}

{% block content %}
  <h1>Вход</h1>
  {% if error %}
    <div class="alert alert-danger" role="alert">{{ error }}</div>
  {% endif %}







  <form class="px-4 py-3" method="post">
    <div class="mb-3">
      <label for="email" class="form-label">Email address</label>
      <input type="email" class="form-control" id="email" name="email" placeholder="email@example.com">
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input type="password" class="form-control" id="password" name = "password" placeholder="Password">
    </div>
    <div class="mb-3">

    </div>
    <button type="submit" class="btn btn-primary">Войти</button>
  </form>
  <div class="dropdown-divider"></div>



{% endblock %}
