<!DOCTYPE "html5">
<html>
<head>
  <title>Проект</title>
  <!-- подключаем Bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <!-- подключаем наш CSS-файл -->
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <!-- header с разными ссылками -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Проект</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="#">Главная</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">О нас</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Контакты</a>
        </li>
      </ul>
    </div>
    <!-- аккаунт пользователя, если он вошел -->
    <div class="navbar-text ml-auto">
      <span class="mr-2">Добро пожаловать,</span>
      <span class="font-weight-bold">{{data["username"]}}</span>
    </div>
  </nav>

  <!-- описание проекта -->
  <div class="container mt-5">
    <h1>О нашем проекте</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quis gravida enim. Fusce euismod in metus sed dapibus. Praesent sodales tincidunt diam id mollis. Nam et dolor eget mauris fermentum bibendum. Donec tincidunt sapien sit amet leo tempus, a bibendum felis venenatis. Integer porta viverra lectus, in consectetur leo lacinia ac. Phasellus facilisis lobortis felis, eget molestie sapien. Fusce mollis, mi id tempor viverra, quam quam malesuada arcu, eu vulputate ante augue ac odio.</p>
  </div>

  <!-- footer -->
  <footer class="mt-5 pt-4 pb-4 bg-light">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h6>О нас</h6>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
        <div class="col-md-4">
          <h6>Контакты</h6>
          <p>Email: example@example.com</p>
        </div>
        <div class="col-md-4">
          <h6>Социальные сети</h6>
          <ul class="list-unstyled">
            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>

  <!-- подключаем jQuery и Bootstrap JavaScript -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>

